#
# SECURITY WARNING: it is CRITICAL that this file & directory are NOT accessible directly via a web browser!
#
# If you don't protect this directory from direct web access, anybody will be able to see your passwords.
# http://nette.org/security-warning
#
common:

	php:
		date.timezone: Europe/Prague
		# session.save_path: "%tempDir%/sessions"
		# zlib.output_compression: yes

	nette:
		session:
			autoStart: smart

		debugger:
			email: 'my@email.tld'

		container:
			debugger: true

	includes:
		- database.neon
		- services.neon
		- factories.neon

production < common:

development < common:

	includes:
		- development/database.neon